* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 144px auto 154px;
}

/*Bloque cabecera*/
header {
  background-color: #17202A;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  /*Contenedor de cabecera__logo; cabecera__buscador; cabecera__usaurio*/
  /*Menu de navegacion*/
  /*SubMenu de navegacion*/
  /*Efectos del menu*/
}
header .cabecera {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  /*Logo de la cabecera*/
  /*Buscador de la cabecera*/
  /*Login&Signin*/
  /*codigo que comparten las 3 cajas de la cabecera, mencionados anteriormente*/
}
header .cabecera .cabecera__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cabecera .cabecera__logo a {
  text-decoration: none;
}
header .cabecera .cabecera__logo .cabecera__logo--text {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__logo .cabecera__logo--text h1 {
  color: white;
  font-size: 20px;
}
header .cabecera .cabecera__logo .cabecera__logo--img {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__buscador {
  display: flex;
}
header .cabecera .cabecera__buscador .cabecera__buscador--input {
  height: 40px;
  width: 90%;
}
header .cabecera .cabecera__buscador .cabecera__buscador--input input {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 0 5px;
  outline: none;
}
header .cabecera .cabecera__buscador .cabecera__buscador--button {
  height: 40px;
  width: 40px;
}
header .cabecera .cabecera__buscador .cabecera__buscador--button button {
  width: 100%;
  height: 100%;
  background-color: #5DADE2;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  /*Efectos del buscador*/
}
header .cabecera .cabecera__buscador .cabecera__buscador--button button:hover {
  background-color: #2874A6;
}
header .cabecera .cabecera__usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cabecera .cabecera__usuario .cabecera__usuario--img {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__usuario .cabecera__usuario--text {
  height: fit-content;
  width: fit-content;
  display: inline-block;
}
header .cabecera .cabecera__usuario .cabecera__usuario--text a {
  text-decoration: none;
  color: white;
  margin: 5px;
  /*Efectos de Login&Signin*/
}
header .cabecera .cabecera__usuario .cabecera__usuario--text a:hover {
  color: orange;
  transition: all 0.3s;
}
header .cabecera .cabecera__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu {
  background-color: #F1C40F;
  list-style: none;
  display: flex;
  justify-content: center;
}
header .menu li {
  display: inline-block;
  margin: 4px;
}
header .menu li a {
  text-decoration: none;
  color: white;
  display: block;
}
header .menu__subMenu {
  position: absolute;
  width: 150px;
  height: 150px;
  display: none;
  list-style: none;
  border-radius: 10px;
  background-color: #283747;
  padding: 15px;
}
header .menu__subMenu li {
  display: block;
}
header .menu li:hover .menu__subMenu {
  display: block;
}
header .menu li a:hover {
  color: #566573;
  transition: all 0.3s;
}
header .menu__subMenu li a:hover {
  color: orange;
}

/*Bloque Pie de pagina*/
footer {
  background-color: #17202A;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: #ABB2B9;
  margin: 10px;
  /*Efectos pie de pagina*/
}
footer a:hover {
  color: orange;
  transition: all 0.3s;
}

/*Media queries*/
@media (max-width: 480px) {
  /*Ocultar Logo*/
  .cabecera__logo--text {
    display: none;
  }
  /*Ocultar usuario*/
  .cabecera__usuario--text {
    display: none;
  }
  .cabecera {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .menu_imgChevronDown img {
    display: none;
  }
}

/*# sourceMappingURL=aboutUs.css.map */
