* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 144px auto 154px;
}

/*Bloque cabecera*/
header {
  background-color: #17202A;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  /*Contenedor de cabecera__logo; cabecera__buscador; cabecera__usaurio*/
  /*Menu de navegacion*/
  /*SubMenu de navegacion*/
  /*Efectos del menu*/
}
header .cabecera {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  /*Logo de la cabecera*/
  /*Buscador de la cabecera*/
  /*Login&Signin*/
  /*codigo que comparten las 3 cajas de la cabecera, mencionados anteriormente*/
}
header .cabecera .cabecera__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cabecera .cabecera__logo a {
  text-decoration: none;
}
header .cabecera .cabecera__logo .cabecera__logo--text {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__logo .cabecera__logo--text h1 {
  color: white;
  font-size: 20px;
}
header .cabecera .cabecera__logo .cabecera__logo--img {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__buscador {
  display: flex;
}
header .cabecera .cabecera__buscador .cabecera__buscador--input {
  height: 40px;
  width: 90%;
}
header .cabecera .cabecera__buscador .cabecera__buscador--input input {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 0 5px;
  outline: none;
}
header .cabecera .cabecera__buscador .cabecera__buscador--button {
  height: 40px;
  width: 40px;
}
header .cabecera .cabecera__buscador .cabecera__buscador--button button {
  width: 100%;
  height: 100%;
  background-color: #5DADE2;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: white;
  cursor: pointer;
  /*Efectos del buscador*/
}
header .cabecera .cabecera__buscador .cabecera__buscador--button button:hover {
  background-color: #2874A6;
}
header .cabecera .cabecera__usuario {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .cabecera .cabecera__usuario .cabecera__usuario--img {
  height: fit-content;
  width: fit-content;
}
header .cabecera .cabecera__usuario .cabecera__usuario--text {
  height: fit-content;
  width: fit-content;
  display: inline-block;
}
header .cabecera .cabecera__usuario .cabecera__usuario--text a {
  text-decoration: none;
  color: white;
  margin: 5px;
  /*Efectos de Login&Signin*/
}
header .cabecera .cabecera__usuario .cabecera__usuario--text a:hover {
  color: orange;
  transition: all 0.3s;
}
header .cabecera .cabecera__caja {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .menu {
  background-color: #F1C40F;
  list-style: none;
  display: flex;
  justify-content: center;
}
header .menu li {
  display: inline-block;
  margin: 4px;
}
header .menu li a {
  text-decoration: none;
  color: white;
  display: block;
}
header .menu__subMenu {
  position: absolute;
  width: 150px;
  height: 150px;
  display: none;
  list-style: none;
  border-radius: 10px;
  background-color: #283747;
  padding: 15px;
}
header .menu__subMenu li {
  display: block;
}
header .menu li:hover .menu__subMenu {
  display: block;
}
header .menu li a:hover {
  color: #566573;
  transition: all 0.3s;
}
header .menu__subMenu li a:hover {
  color: orange;
}

main {
  background-color: #34495E;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
main .contenedor {
  background-color: white;
  height: 520px;
  width: 1020px;
  border-radius: 5px;
  border: 2px solid #F1C40F;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .contenedor .imagenProducto {
  background-color: white;
  height: 500px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contenedor .infoCompra {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 30%;
  border: 1px solid #929292;
  border-radius: 5px;
  overflow: hidden;
}
main .contenedor .infoCompra .infoCompra__desProducto {
  background-color: white;
  height: 90%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
}
main .contenedor .infoCompra .infoCompra__desProducto .infoCompra__desProducto--basico {
  width: 100%;
  height: 20%;
}
main .contenedor .infoCompra .infoCompra__desProducto .infoCompra__desProducto--avanzado {
  background-color: #2E4053;
  width: 100%;
  height: 80%;
  padding: 5px;
}
main .contenedor .infoCompra .infoCompra__desProducto .infoCompra__desProducto--avanzado p {
  font-size: 14px;
  color: white;
}
main .contenedor .infoCompra .infoCompra__comprarProducto {
  background-color: white;
  height: 10%;
  width: 100%;
  border-radius: 0 0 5px 5px;
}
main .contenedor .infoCompra .infoCompra__comprarProducto button {
  width: 100%;
  height: 100%;
  background-color: #F1C40F;
  border: 0;
  border-radius: 0 0 5px 5px;
  color: white;
  cursor: pointer;
}
main .contenedor .infoCompra .infoCompra__comprarProducto button:hover {
  background-color: #fad541;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 300px;
}

#infoCompra__desProducto--Nombre {
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  color: rgb(34, 28, 28);
}

#infoCompra__desProducto--precio {
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  margin: 15px;
}

/*Bloque Pie de pagina*/
footer {
  background-color: #17202A;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
footer a {
  text-decoration: none;
  color: #ABB2B9;
  margin: 10px;
  /*Efectos pie de pagina*/
}
footer a:hover {
  color: orange;
  transition: all 0.3s;
}

/*Media queries*/
@media (max-width: 480px) {
  /*Ocultar Logo*/
  .cabecera__logo--text {
    display: none;
  }
  /*Ocultar usuario*/
  .cabecera__usuario--text {
    display: none;
  }
  .cabecera {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .menu_imgChevronDown img {
    display: none;
  }
}
@media (max-width: 1000px) {
  .contenedor {
    height: auto;
    width: 100%;
    flex-direction: row;
  }
  .infoCompra {
    width: 100%;
  }
  .imagenProducto img {
    width: 90%;
  }
}

/*# sourceMappingURL=productView.css.map */
