@media(max-width: 1000px){
    main{
        .contenedor{
            flex-direction: column;
            height: fit-content;
            
            .imagenProducto{
                img{
                width: 90%;
        
                }
            }
            .infoCompra{
                width: 100%;
        
        
            }
        
        }
    }
    
}

