$colorFondo: white;
$colorBoton: #F1C40F;
$colorBorder: #929292;

main{
    width: 100%;
    background-color: #34495E;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    .contenedor{
        background-color: $colorFondo;
        height: 520px;
        width: 90%;
        border-radius: 5px;
        border: 2px solid $colorBoton;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        .imagenProducto{
            background-color: $colorFondo;
            height: 500px;
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                object-fit: contain;
                height: 90%;
                width: 90%;

            }
        
        }

        .infoCompra{
            background-color: $colorFondo;
            display: flex;
            flex-direction: column;
            height: 500px;
            width: 30%;
            border: 1px solid $colorBorder;
            border-radius: 5px;
            overflow: hidden;

            .infoCompra__desProducto{
                background-color: white;
                height: 90%;
                width: 100%;
                border-radius:5px 5px 0 0;
                display: flex;
                flex-direction: column;

                .infoCompra__desProducto--basico{
                    width: 100%;
                    height: 20%;
                
                }
                
                .infoCompra__desProducto--avanzado{
                    background-color: #2E4053;
                    width: 100%;
                    height: 80%;
                    padding: 5px;

                    p{   
                        font-size: 14px;
                        color: white;
                    
                    }
                   
                }
                
            }
            
            .infoCompra__comprarProducto{
                background-color: white;
                height: 10%;
                width: 100%;
                border-radius:0 0 5px 5px;

                button{
                    width: 100%;
                    height: 100%;
                    background-color: $colorBoton ;
                    border: 0;
                    border-radius: 0 0 5px 5px;
                    color: white;
                    cursor: pointer;

                    &:hover{
                        background-color: #fad541;
                    
                    }
                
                }
            
            }

            
        }
    }
    

}

html{
    scroll-behavior: smooth;
}

[id]{
    scroll-margin-top: 300px;

}

#infoCompra__desProducto--Nombre{
    font-size: 20px;
    font-weight: 600;
    margin: 15px;
    color: rgb(34, 28, 28);

}

#infoCompra__desProducto--precio{
    font-size: 26px;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 15px;
   
}

