@media(max-width: 1000px){
    .contenedor{
        height: auto;
        width: 100%;
        flex-direction: row;
    }

    .infoCompra{
        width: 100%;

    }

    .imagenProducto img{
        width: 90%;

    }

       

}